li {
  list-style: none;
  width: 400px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.checkbox:checked + label {
  text-decoration: line-through;
}

.remove-todo {
  margin-left: auto;
}

