li {
  list-style: none;
  width: 400px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

label {
  width: 300px;
}

.checkbox:checked + label {
  text-decoration: line-through;
}

.control-todo {
  margin-left: auto;
}

input[type=text] {
  width: 300px;
}

