/* You can add global styles to this file, and also import other style files */

button {
  width: 60px;
  height: 25px;
  border: 0;
  background-color: lightskyblue;
  color: #fff;
  border-radius: 3px;
}

button:hover {
  transition: 0.5s;
  background-color: #336699;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000;
  border-radius: 3px;
  padding: 5px;
  background-color: rgba(0,0,0,.07);
}

a:hover {
  transition: 0.5s;
  background-color: rgba(0,0,0,.15);
}
